modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
API_SPORTS_KEY = "3ec255b133882788e32f6349eff77b21"
ADMIN_PASSWORD = "123Jamie88"
SBETS_TOKEN_ADDRESS = "0x6a4d9c0eab7ac40371a7453d1aa6c89b130950e8af6868ba975fdd81371a7285::sbets::SBETS"
ADMIN_WALLET_ADDRESS = "0x20850db591c4d575b5238baf975e54580d800e69b8b5b421de796a311d3bea50"
REVENUE_WALLET_ADDRESS = "0x2046d57743f3cd8d7036671fdc1cbf3e45a8bc52bae473530266cd76b7cf7592"
PLATFORM_REVENUE_WALLET = "0x20850db591c4d575b5238baf975e54580d800e69b8b5b421de796a311d3bea50"
BETTING_PACKAGE_ID = "0x737324ddac9fb96e3d7ffab524f5489c1a0b3e5b4bffa2f244303005001b4ada"
BETTING_PLATFORM_ID = "0x5fc1073c9533c6737fa3a0882055d1778602681df70bdabde96b0127b588f082"
SUI_NETWORK = "mainnet"
ADMIN_CAP_ID = "0xf51a04becf8c215dee71c9b92a063e4c5ef1ebc2fc3fad0797196895f8589296"
VITE_BETTING_PACKAGE_ID = "0x737324ddac9fb96e3d7ffab524f5489c1a0b3e5b4bffa2f244303005001b4ada"
VITE_BETTING_PLATFORM_ID = "0x5fc1073c9533c6737fa3a0882055d1778602681df70bdabde96b0127b588f082"
SPORTS_LIST = "football,basketball,hockey,mma,tennis,baseball"
SINGLE_SPORT_MODE = "true"
CURRENT_SPORT = "football"
VITE_GOOGLE_CLIENT_ID = "4356122538-r1efdepcdcpt8uib5a8gko9f8l86n96s.apps.googleusercontent.com"

[agent]
integrations = ["javascript_openai_ai_integrations:1.0.0"]
expertMode = true
