modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
API_SPORTS_KEY = "3ec255b133882788e32f6349eff77b21"
ADMIN_PASSWORD = "123Jamie88"
SBETS_TOKEN_ADDRESS = "0x6a4d9c0eab7ac40371a7453d1aa6c89b130950e8af6868ba975fdd81371a7285::sbets::SBETS"
ADMIN_WALLET_ADDRESS = "0x747c44940ec9f0136e3accdd81f37d5b3cc1d62d7747968d633cabb6aa5aa45f"
REVENUE_WALLET_ADDRESS = "0x2046d57743f3cd8d7036671fdc1cbf3e45a8bc52bae473530266cd76b7cf7592"
PLATFORM_REVENUE_WALLET = "0x20850db591c4d575b5238baf975e54580d800e69b8b5b421de796a311d3bea50"
BETTING_PACKAGE_ID = "0x9ca7d3b57c018fb171724dc808a542d2ec27354f6526b75e968d308d29bb6626"
BETTING_PLATFORM_ID = "0xfb946f078082f42c93b7c1db30365f590338fd477ac20c564498d9315ca89e9c"
SUI_NETWORK = "mainnet"
ADMIN_CAP_ID = "0x49bee21bdf21522f401d5a3d6677604f0738bbd20f9bffef97d2223bdf2a1cb5"
VITE_BETTING_PACKAGE_ID = "0x9ca7d3b57c018fb171724dc808a542d2ec27354f6526b75e968d308d29bb6626"
VITE_BETTING_PLATFORM_ID = "0xfb946f078082f42c93b7c1db30365f590338fd477ac20c564498d9315ca89e9c"

[agent]
integrations = ["javascript_openai_ai_integrations:1.0.0"]
expertMode = true
